name: Get events
on:
  # schedule:
  #   - cron: "0 0 * * 1,4"
  push:
    branches:
      - "master"

jobs:
  get_events:
    name: Get events
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Save google service account credentials
        shell: bash
        env:
          GOOGLE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}
        run: 'echo "$GOOGLE_SERVICE_ACCOUNT_CREDENTIALS" > google_service_account_credentials.json'
      - id: python
        name: Get Python events
        uses: ./.github/actions/get-events-action
        with:
          crawler-name: "Python"
      - id: pycon
        name: Get PyCon events
        uses: ./.github/actions/get-events-action
        with:
          crawler-name: "PyCon"
      - id: pydata
        name: Get PyData events
        uses: ./.github/actions/get-events-action
        with:
          crawler-name: "PyData"
      - id: confs_tech
        name: Get confs.tech events
        uses: ./.github/actions/get-events-action
        with:
          crawler-name: "ConfsTech"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Update events list"
          body: Here's the latest event list!
          commit-message: Update events list
          branch: "update-events-${{ github.ref }}"
          base: master
